.container{
  position: relative;
}

.header{
  background-image: url(Assets/header.jpg);
  height: 525px;
}

.surf{
  position: absolute;
  left: 200px;
  top: 20px;
  font-size: 14pt;
  color: #083451;
}

.surfco{
  position: absolute;
  font-size: 72pt;
  color: white;
  top: 200px;
  left: 200px;
}

.about{
  position: absolute;
  top: 20px;
  right: 290px;
  overflow: hidden;
  font-size: 14pt;
}
.search{
  position: absolute;
  overflow: hidden;
  top: 20px;
  right: 215px;
  font-size: 14pt;
}

.logo{
  position: absolute;
  top: 10px;
  overflow: hidden;
  left: 140px;
}

.topicon{
  position: absolute;
  overflow: hidden;
  top: 20px;
  right: 195px;
}
.ironyard{
  position: absolute;
  top: 315px;
  left: 500px;
}
.textbox{
  width: 80%;
  margin: 50px auto;
  overflow: hidden;
}
h1{
  font-size: 42pt;

}

.hea{
  font-size: 42pt;
}
.footer{
  border-top: 1px solid grey;
  padding-top: 0

}
.mostpopular{
  text-align: center;
}
.bottomfooter{
  background-color: #083452;
  height: 100px;
  margin-top: 0;
  margin-bottom: 2px;
  overflow: hidden;
  clear: both;
}
.tiy{
  margin-left: 208px;
  bottom: 32px;
  position: absolute;
}
.nav{
  color: #A0B0BD;
  float: right;
}
.lady{
  position: relative;
  overflow: hidden;
  top: 90px;
}
.avatar-left{
  position: relative;
  width: 3%;
}

.avatar-right{
  float: right;
  position: relative;
}

.left{
  float: left;
  width: 70%;
}

.rightcolumn{
  text-align: center;
  margin-left: 70%;
  overflow: hidden;
}

.whoa{
  width: 290px;
  height: 100px;
}
.sidebarhead{
  overflow: hidden;
}

.footer img{
  width: 25%;
  float: left;
}
h2{
  color: #005CAA;
  border-left: 1 px solid grey;
}
.surfer {
  float: left;
  position: absolute;
  bottom: 100px;
}
.cr{
  position: absolute;
  left: 267px;
  bottom: 35px;
  color: #A0B0BD
}
.on{
  color: #A0B0BD;
}
.date{
  color: #A0B0BD;
  text-decoration: underline;
}
.a1{
  float: right;
  padding-top: 40px;
  padding-right: 15px;
  color: #A0B0BD;
  border-right: 1 px solid #A0B0BD;
}
.a2
{
  float: right;
  padding-top: 40px;
  padding-right: 15px;
  color: #A0B0BD;
}
.a3{
  float: right;
  padding-top: 40px;
  padding-right: 15px;
  color: #A0B0BD;
}
.a5{
  float: right;
  padding-top: 40px;
  margin-right: 170px;
  color: #A0B0BD;
}
