.container{
  position: relative;
}

.header{
  background-image: url(Assets/header.jpg);
  height: 525px;
}

.surf{
  position: absolute;
  left: 200px;
  top: 20px;
  font-size: 14pt;
  color: #083451;
}

.surfco{
  position: absolute;
  font-size: 72pt;
  color: white;
  top: 200px;
  left: 200px;
}

.about{
  position: absolute;
  top: 20px;
  right: 290px;
  overflow: hidden;
  font-size: 14pt;
}
.search{
  position: absolute;
  overflow: hidden;
  top: 20px;
  right: 215px;
  font-size: 14pt;
}

.logo{
  position: absolute;
  top: 10px;
  overflow: hidden;
  left: 140px;
}

.topicon{
  position: absolute;
  overflow: hidden;
  top: 20px;
  right: 195px;
}
.ironyard{
  position: absolute;
  top: 315px;
  left: 500px;
}
.textbox{
  width: 80%;
  margin: 50px auto;
  overflow: hidden;
  height: 800px;
}
h1{
  font-size: 42pt;

}

.hea{
  font-size: 42pt;
  color: #083452;
}
.footer{
  border-top: 1px solid grey;
  padding-top: 0

}
.mostpopular{
  text-align: center;
  color: #083452;
}
.bottomfooter{
  background-color: #083452;
  height: 100px;
  margin-top: 0;
  margin-bottom: 2px;
  overflow: hidden;
  clear: both;
}
.tiy{
  margin-left: 208px;
  bottom: 32px;
  position: absolute;
}
.nav{
  color: #A0B0BD;
  float: right;
}
.lady{
  position: relative;
  overflow: hidden;
  top: 105px;
}
.avatar-left{
  position: relative;
  width: 3%;
  left: 0px;
}

.avatar-right{
  float: right;
  position: relative;
  right: 125px;
}

.left{
  float: left;
  width: 70%;
  height: 800px;
}
.threebuttons{
  height: 30px;
  width: 650px;
  bottom: 710px;
  position: absolute;
}
.buttons{
  padding-left: 40px;
  background-color: #A3B3BF;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}
.blue{
  background-color: #106DB3;
}

.rightcolumn{
  text-align: center;
  margin-left: 70%;
  overflow: hidden;
  height: 800px;
}

.whoa{
  width: 700px;
  height: 100px;
}
.sidebarhead{
  float: right;
  position: relative;
  top: 85px;
  color: #A0B0BD;

}

.footer img{
  width: 25%;
  float: left;
}
.top{
  width: 650px;
}
h2{
  color: #005CAA;
  font-size: 20pt;
  border-left: 1px solid grey;
  margin-left: -40px;
  padding-left: 56px;
}
.bottom{
  padding-top: 25px;
  height: 250px;
  width: 650px;

}
.surfer {
  float: left;
  position: absolute;
  bottom: 100px;
}
.cr{
  position: absolute;
  left: 267px;
  bottom: 35px;
  color: #A0B0BD
}
.on{
  color: #A0B0BD;
}
.date{
  color: #A0B0BD;
  text-decoration: underline;
}
.a1{
  float: right;
  color: #A0B0BD;
  border-right: 1px solid #A0B0BD;
  padding-right: 10px;
  padding-left: 10px;

}
.navitem{
  height: 25px;
  text-align: center;
  margin-right: 135px;
  margin-top: 50px;
}
.social{
  height: 15px;
  text-align: center;
  position: relative;
  top: 81px;
  left: 25px;
}
h3{
  color: #015DAA;
  position: relative;
  right: 10px;
  top: 15px;
}
.s1{
  float: right;
  padding-right: 5px;
  padding-left: 4px;
}
.lastitem{
  border: none;
}
.navgallery{
  height: 330px;
  width: 325px;
  float: right;
}
.ng1{
  background-image: url('Assets/Whiskey.jpg');
}
.ng2{
  background-image: url('Assets/zach.jpg');
}
.ng3{
  background-image: url('Assets/beer.jpg');
}
.ng4{
  background-image: url('Assets/SurferGuy.jpg');
}
.navcontainer{
  margin-right: 60px;
}
.ngselected{
  opacity: 0;
}
.ngmask{
  background-image: none;
  background-color: #083452;
  opacity: .5;
}
.ngmask:hover{
  opacity: 0;
}
.anne{
  font-size: 14px;
  position: relative;
  top: 94px;
  right: -41px;
  color: #0668B0;
}
.anothercoolpost{
  float: right;
  position: relative;
}
.ngp4{
  position: absolute;
  bottom: 110px;
  font-size: 28px;
  left: 92px;
}
.ngp3{
  position: absolute;
  font-size: 28px;
  bottom: 110px;
  left: 430px;
  color: white;
}
.ngp2{
  position: absolute;
  font-size: 28px;
  bottom: 105px;
  right: 395px;
  width: 300px;
}
.ngp1{
  position: absolute;
  font-size: 28px;
  bottom: 110px;
  right: 115px;
}
